@import './colors';

#about{
    margin-top: 3rem;
    text-align: center;

    p{
        margin-top: 2rem;
    }
}

#meal-event{

    h2{
        margin-bottom: 2rem;
    }

    .meal-event-card{
        width: 100%;
        height: 350px;
        margin-bottom: 2rem;
        background-image: url('../../images/fajitas.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;

        .meal-caption{
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgba(0, 0, 0, 0.6);
            color: $golden;
            padding: 1rem 2rem;
            text-align: center;
        }
    }

    @media screen and (min-width: 744px) {
        
        .meal-event-card{
            height: 600px;
        }

    }
}